
/* Consultas */

.contenedorContacto {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 1025px) {
        flex-direction: row;
        background-image: url("../media/background.png");
        background-size: cover;
    }
    .contacto, .consulta {
        width: 100%;
        &__titulo {
            font-size: 32px;
            color: $blanco;
            margin-top: 10%;
            margin-left: 15%;
            font-weight: 300;
        }
        &__datos {
            font-size: 16px;
            color: $blanco;
            margin-top: 5%;
            margin-left: 20%;
            font-weight: 300;
            max-width: 70%;
        }
        @media only screen and (min-width: 1025px) {
            width: 50%;
        }
    }
    .contacto {
        height: 45vh;
        @media only screen and (max-width: 1024px) {
            background-color: $azul;
        }
        @media only screen and (min-width: 1025px) {
            height: 85vh;
        }
        svg {
            margin-right: 2%;
        }
    }
    .consulta {
        height: 70vh;
        @media only screen and (max-width: 1024px) {
            background-color: $rojo;
        }
        @media only screen and (min-width: 1025px) {
            height: 85vh;
        }
        .formularioConsultas {
            width: 85%;
            margin-left: 5%;
            input, textarea {
                margin: 3%;
                font-weight: 300;
                background-color: $blanco;
            }
            .labelFormulario {
                margin-left: 2%;
                font-weight: 300;
            }   
            textarea {
                height: 20vh !important;
            }
            .botonEnviar {
                font-weight: 300;
            }
            @media only screen and (min-width: 1025px) {
                margin-left: 15%;
                input, textarea {
                    max-width: 65%;
                }         
            }
        }
    }
}