/* Index */

.fondoAzul {
    background-color: $azul;
}
.fondoRojo {
    background-color: $rojo;
}

.fondoAzul, .fondoRojo {
    color: $blanco;
    display: flex;
        flex-direction: column;
        align-items: center;
    width: 100%;
    height: 40vh;
    padding-top: 2em;
    &__titulo {
        text-align: center;
        padding-top: 15%;
        display: flex;
            align-items: center;
            justify-content: center;
        font-size: 24px;
        a {
            text-decoration: none;
            color: $blanco;
        }
        a:hover {
            transform: scale(1.1);
        }
    }
    &__parrafo {
        text-align: center;
        display: flex;
            align-items: center;
            justify-content: center;
        width: 50%;
        @media only screen and (min-width: 700px) {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 700px) {
    .contenedorIndex {
        display: flex;
        .fondoAzul, .fondoRojo {
            width: 50%;
            border-top: white 2px solid;
            padding-top: 0;
        }
    }
}    